.container-logo {
  display: flex;
  justify-content: center;
  margin-bottom: -8.5rem;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

.react-logo {
  height: 15rem;
  pointer-events: none;
  position: absolute;
}

.canoe {
  height: 25.5rem;
  pointer-events: none;
  position: relative;
}

footer {
  align-items: center;
  background-color: #3586FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 10rem;
  padding: 1.2rem 3.1rem;
  position: relative;
  width: 100vw;
}

.text-middle { font-size: 1.7em; }

footer .social-icon, 
footer .menu {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2rem 0;
  position: relative;
}

footer .social-icon li,
footer .menu li { list-style: none; }

footer .social-icon li a,
footer .menu li a {
  color: #fff;
  display: inline-block;
  font-size: 2em;
  margin: 0 1rem;
  transition: 0.5s;
}

footer .social-icon li a:hover { transform: translateY(-1rem); }

footer .menu li a {
  color: #fff;
  display: inline-block;
  font-size: 1.2em;
  margin: 0 1rem;
  opacity: 0.75;
  text-decoration: none;
}

footer .menu li a:hover { opacity: 1; }

footer p {
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
  text-align: center;
}

.decoration-link {
  color: #fff;
  opacity: 0.75;
  text-decoration: none;
}

.decoration-link:hover { opacity: 1; }

.pl-1 { padding-left: .5rem; }

footer .wave {
  background: url(/src/backgrounds/wave.png);
  background-size: 1000px 100px;
  height: 100px;
  left: 0;
  position: absolute;
  top: -100px;
  width: 100%;
}

footer .wave#wave1 {
  animation: animateWave 4s linear infinite;
  bottom: 0;
  opacity: 1;
  z-index: 1000;
}

footer .wave#wave2 {
  animation: animateWave2 4s linear infinite;
  bottom: 10px;
  opacity: 0.5;
  z-index: 999;
}

footer .wave#wave3 {
  animation: animateWave 3s linear infinite;
  bottom: 15px;
  opacity: 0.2;
  z-index: 1000;
}

footer .wave#wave4 {
  animation: animateWave2 3s linear infinite;
  bottom: 20px;
  opacity: 0.7;
  z-index: 999;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo { animation: react-logo-spin infinite 20s linear; }
}

@keyframes animateWave {
  0% { background-position-x: 1000px; }

  100% { background-position-x: 0px; }
}

@keyframes animateWave2 {
  0% { background-position-x: 0px; }

  100% { background-position-x: 1000px; }
}

@keyframes react-logo-spin {
  from { transform: rotate(0deg); }

  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 450px) {
  .react-logo { max-width: 15rem; }
  
  .canoe { max-width: 15rem; }
}
