body .about-screen {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 86%;
    justify-content: flex-start;
    min-height: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.left-container, .right-container {
    display: flex;
    flex-direction: column;
}

.left-container { 
    align-items: center;
    justify-content: center;
    width: 100%;
}

.right-container { 
    margin-top: 1rem;
    padding: 0 1.3rem;
    width: 100%;
}

.about-img {
    height: 220px;
    width: 220px;
}

.cv-button {
    align-items: center;
    background: none;
    border: 5px solid #3BA9C3;
    border-radius: 1rem;
    color: #fff;
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    height: 4rem;
    justify-content: center;
    margin: 1rem 0;
    padding: 1rem;
    text-decoration: none;
    width: 13rem;
}

.cv-button:hover {
    background: #2b7c8f;
    border: none;
    cursor: pointer;
}

.right-container h1 {
    font-size: 1.2rem;
    height: auto;
    margin: 0;
    padding: 0;
}

.github-logo {
    border-radius: .7rem;
    height: 3rem;
    margin-bottom: -1.2rem;
    margin-left: 1rem;
    width: 3rem;
}

.right-container .hr-title {
    background: linear-gradient(90deg, #3BA9C3 0%, rgba(135, 112, 200, 0.694055) 73.16%, rgba(241, 32, 207, 0.15) 100%);
    border-radius: 5rem;
    height: 11px;
    margin: .3rem 0 1.2rem 0;
    min-height: .6rem;
    width: 5.5rem;
}

.right-container p {
    font-size: 15px;
    font-weight: 600;
    height: auto;
    line-height: 35px;
    margin-bottom: .5rem;
    text-align: left;
    width: 100%;
}

@media only screen and (min-width: 551px) {
    body .about-screen { margin-bottom: 1rem; }

    .about-img {
        height: 300px;
        width: 300px;
    }

    .right-container { padding: 0 2rem; }

    .right-container h1 { font-size: 1.8rem; }

    .right-container .hr-title { 
        margin-bottom: 2rem;
        width: 8rem; 
    }

    .right-container p { 
        font-size: 22px; 
        margin-bottom: 2rem;
        text-align: justify;
    }
}

@media only screen and (min-width: 900px) {
    body .about-screen { 
        align-items: center; 
        flex-direction: row; 
        justify-content: center; 
        margin-bottom: 0;
    }

    .left-container {
        height: 100%;
        width: 35%;
    }

    .right-container {
        height: 100%;
        justify-content: center;
        margin-top: 0;
        padding: 0;
        width: 65%;
    }

    .about-img {
        height: 260px;
        width: 250px;
    }

    .cv-button { margin: 1.7rem 0; }

    .right-container h1 { font-size: 1.5rem; }

    .right-container .hr-title { 
        margin-bottom: 1.5rem;
        width: 6.7rem; 
    }

    .right-container p { 
        font-size: 20px; 
        margin-bottom: 1.5rem;
        width: 95%;
    }
}

@media only screen and (min-width: 1200px) {
    .about-img {
        height: 350px;
        width: 350px;
    }

    .cv-button {
        font-size: 1.5rem;
        height: 5.5rem;
        margin: 2rem 0;
        width: 18rem;
    }

    .right-container h1 { font-size: 2rem; }

    .right-container .hr-title { 
        margin-bottom: 2rem;
        width: 9rem; 
    }

    .right-container p { 
        font-size: 21px; 
        margin-bottom: 1.7rem;
    }
}

@media only screen and (min-width: 1536px) {
    .left-container { width: 30%; }

    .right-container { width: 70%; }

    .right-container p { 
        font-size: 23px; 
        margin-bottom: 2rem;
    }
}

@media only screen and (max-height: 790px) and (min-width: 900px) and (max-width: 1200px) {
    .right-container h1 { font-size: 1.5rem; }

    .right-container .hr-title { 
        margin-bottom: 1rem;
        width: 7rem; 
    }
    
    .right-container p{
        font-size: 17px;
        margin-bottom: .3rem;
    }
}

@media only screen and (max-height: 650px) and (min-width: 900px) and (max-width: 1200px) {    
    .right-container h1 { font-size: 1.3rem; }

    .right-container .hr-title { width: 6rem; }
    
    .right-container p{
        font-size: 15px;
        line-height: 25px;
        margin-bottom: .7rem;
    }
}

@media only screen and (max-height: 540px) and (min-width: 900px) and (max-width: 1200px) {  
    .right-container h1 { font-size: 1.1rem; }

    .right-container .hr-title { 
        min-height: 7px;
        width: 5rem; 
    }
    
    .right-container p { font-size: 13px; }
}

@media only screen and (max-height: 410px) and (min-width: 900px) and (max-width: 1200px) {
    .about-img {
        height: 210px;
        width: 210px;
    }

    .cv-button {
        border-radius: .5rem;
        font-size: 1rem;
        height: 3.5rem;
        margin: .5rem 0;
        padding: .7rem;
        width: 11rem;
    }

    .right-container h1 { font-size: 1rem; }

    .right-container .hr-title { 
        margin: .1rem 0 .5rem 0;
        min-height: 6px;
        width: 4.6rem; 
    }
    
    .right-container p{
        font-size: 11px;
        line-height: 20px;
    }
}

@media only screen and (max-height: 710px) and (min-width: 1201px) {
    .right-container h1 { font-size: 1.5rem; }

    .right-container .hr-title { 
        margin-bottom: 1rem;
        width: 7rem; 
    }
    
    .right-container p{
        font-size: 20px;
        margin-bottom: 1rem;
    }
    
}

@media only screen and (max-height: 580px) and (min-width: 1201px) {
    .about-img {
        height: 270px;
        width: 270px;
    }

    .cv-button {
        font-size: 1.3rem;
        height: 4rem;
        margin: 1rem 0;
        width: 15rem;
    }
    
    .right-container p{
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-height: 440px) and (min-width: 1201px) {
    .about-img {
        height: 215px;
        width: 215px;
    }

    .cv-button {
        border-radius: .5rem;
        font-size: 1.1rem;
        height: 3.5rem;
        margin: 1rem 0;
        width: 12rem;
    }

    .right-container h1 { font-size: 1.2rem; }

    .right-container .hr-title { 
        height: 7px;
        margin-bottom: .5rem;
        min-height: 7px;
        width: 5.7rem; 
    }
    
    .right-container p {
        font-size: 14px;
        margin-bottom: .6rem;
    }

}