.home-screen {
    background: linear-gradient(104.99deg, rgba(21, 138, 246, 0.3) 0%, rgba(80, 98, 216, 0) 38.56%, rgba(89, 91, 211, 0) 48.38%, rgba(101, 83, 205, 0) 59.96%, rgba(186, 26, 160, 0.25) 100%);
    height: 100vh;
    width: 100vw;
}

.home-glass{
    align-items: center;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

/* .home-glass .container-home{
    align-items: center;
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
} */

.focus-picture {
    bottom: 0;
    display: flex;
    position: absolute;
}

.focus-picture .card-glass {
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    border-radius: 1.5rem;
    line-height: 1.9rem;
    margin-left: -10em;
    margin-top: 5em;
    padding: 1rem;
    position: absolute;
}

.focus-picture .twitter-card {
    border-radius: .7rem;
    height: 3.2rem;
    line-height: 1.5rem;
    margin-left: 25em;
    padding-right: 1rem;
    position: absolute;
    z-index: 2;
}

.focus-picture .instagram-card {
    border-radius: .7rem;
    height: 3.2rem;
    line-height: 1.5rem;
    margin-left: 29em;
    margin-top: 7em;
    padding-right: 1rem;
    position: absolute;
    z-index: 2;
}

.focus-picture .whatsapp-card {
    border-radius: .7rem;
    height: 3.2rem;
    line-height: 1.5rem;
    margin-left: 33em;
    margin-top: 14em;
    padding-right: 1rem;
    position: absolute;
    width: max-content;
    z-index: 2;
}

.twitter-card a,
.instagram-card a,
.whatsapp-card a {
    color: #fff;
    text-decoration: none;
}

.twitter-card p,
.instagram-card p,
.whatsapp-card p {
    padding-top: .2em;
}

.instagram-card p {
    padding-top: .2em;
}

.whatsapp-card p {
    padding-top: .2em;
}

.social-logo {
    border-radius: .7rem;
    height: 3.5rem;
    margin: 0 .7rem 0 0;
    width: 3.5rem;
}

.card-container {
    display: inline-flex;
}

.card-container p span .p-2 {
    padding-bottom: 5rem;
}

.card-glass p span {
    color: #fff;
}

.card-glass p .p-1, 
.twitter-card p .p-1,
.instagram-card p .p-1,
.whatsapp-card p .p-1 {
    font-size: 1.1rem;
    letter-spacing: .1em;
}

.card-glass p .p-2, 
.twitter-card p .p-2,
.instagram-card p .p-2,
.whatsapp-card p .p-2 {
    font-size: 1.5rem;
    letter-spacing: .1em;
}

.card-glass p .p-3, 
.twitter-card p .p-3,
.instagram-card p .p-3,
.whatsapp-card p .p-3 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .1em;
}

.profile-picture{
    height: 33rem;
    width: 33rem;
}

.card-glass-copy {
    bottom: 0;
    color: #fff;
    font-size: 1.3em;
    padding: 0 0 4rem 0;
    position: absolute;
    right: 2em;
    text-align: right;
    width: 20rem;
    -webkit-text-stroke: .3px black;
} 

.decoration-link {
    color: #fff;
    letter-spacing: .1em;
    opacity: 0.75;
    text-decoration: none;
}

.decoration-link:hover {
    opacity: 1;
}

.pl-1 {
    padding-left: .5rem;
}

@media only screen and (max-width: 1245px) {
    .focus-picture .twitter-card {
        margin-left: 24em;
    }

    .focus-picture .instagram-card {
        margin-left: 27em;
    }

    .focus-picture .whatsapp-card {
        margin-left: 30em;
    }
}

@media only screen and (max-width: 1165px) {
    .focus-picture .card-glass {
        left: 2em;
    }
}

@media only screen and (max-width: 1090px) {
    .focus-picture .instagram-card {
        margin-top: 5.5em;
        margin-left: 26em;
    }

    .focus-picture .whatsapp-card {
        margin-top: 11em;
        margin-left: 28em;
    }
}

@media only screen and (max-width: 1075px) {
    .card-glass-copy p{
        background: linear-gradient(152.97deg, rgba(32, 32, 32, 0.602) 0%, rgba(54, 54, 54, 0.466) 100%);
        backdrop-filter: blur(100px);
        border-radius: .5rem;
        font-size: 1.1em;
        padding: .1em;
        text-align: center;
        width: fit-content;
    }
}

@media only screen and (max-width: 985px) {
    .focus-picture .instagram-card {
        margin-left: 25em;
    }

    .focus-picture .whatsapp-card {
        margin-left: 26em;
    }

}

@media only screen and (max-width: 890px) {
    .card-glass-copy p{
        margin: 0 5em -2.5em 0;
        width: 100%;
    }

    .focus-picture .twitter-card,
    .focus-picture .instagram-card,
    .focus-picture .whatsapp-card {
        left: 24em;
        margin-left: 0;
        margin-right: 0;
        right: 0;
    }

    .twitter-card p .p-1,
    .instagram-card p .p-1,
    .whatsapp-card p .p-1 {
        font-size: 1rem;
    }

    .twitter-card p .p-2,
    .instagram-card p .p-2,
    .whatsapp-card p .p-2 {
        font-size: 1.1rem;
    }

    .focus-picture .whatsapp-card {
        padding-right: 0;
    }

    .whatsapp-card p .p-2 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 815px) {
    .focus-picture .card-glass{
        line-height: 1.5rem;
        padding: .7rem;
        left: 7em;
        border-radius: 1em;
    }

    .card-glass p .p-1 {
        font-size: .85rem;
    }
    
    .card-glass p .p-2 {
        font-size: 1.2rem;
    }
    
    .card-glass p .p-3 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 670px) {
    .focus-picture .twitter-card .hidden,
    .focus-picture .instagram-card .hidden,
    .focus-picture .whatsapp-card .hidden {
        display: none;
    }

    .focus-picture .twitter-card,
    .focus-picture .instagram-card,
    .focus-picture .whatsapp-card {
        left: 28em;
    }
}

@media only screen and (max-width: 640px) {
    .focus-picture .card-glass{
        left: 10.5em;
    }

    .card-glass p .p-1 {
        font-size: .65rem;
    }
    
    .card-glass p .p-2 {
        font-size: .9rem;
    }
    
    .card-glass p .p-3 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-height: 650px) {
    .home-glass {
        height: 650px;
    }
}

/* @media only screen and (min-height: 660px) {
    .home-screen {
        overflow: hidden;
    }
    
    .home-glass {
        overflow: hidden;
    }
} */

/* @media only screen and (max-height: 630px) {
    .profile-picture{
        height: 25rem;
        width: 25rem;
    }
}

@media only screen and (max-height: 500px) {
    .profile-picture{
        height: 20rem;
        width: 20rem;
    }
} */

@media only screen and (max-width: 530px) {
    .home-screen {
        overflow: hidden;
    }
    
    .home-glass {
        overflow: hidden;
    }
    
    .focus-picture .card-glass{
        left: 10.8em;
    }

    .focus-picture .twitter-card,
    .focus-picture .instagram-card,
    .focus-picture .whatsapp-card {
        left: 26em;
    }

    .focus-picture .instagram-card {
        margin-top: 4.5em;
    }

    .focus-picture .whatsapp-card {
        margin-top: 9em;
    }

    .card-glass-copy {
        bottom: 2.5em;
    } 

}

@media only screen and (max-width: 510px) {
    .focus-picture .card-glass{
        left: 11.3em;
        margin-top: 6em;
    }

    .focus-picture .twitter-card,
    .focus-picture .instagram-card,
    .focus-picture .whatsapp-card {
        left: 26em;
    }

    .social-logo {
        height: 3em;
        width: 3em;
    }

    .focus-picture .twitter-card {
        margin-top: 3em;
    }

    .focus-picture .instagram-card {
        margin-top: 6.5em;
    }

    .focus-picture .whatsapp-card {
        margin-top: 10em;
    }
}

@media only screen and (max-width: 500px) {
    .home-glass {
        position: relative;
        bottom: 6em;
    }

    .navbar-home {
        width: 100vw;
        position: relative;
        bottom: 0;
    }

    .card-glass-copy {
        bottom: 1.1em;
    } 
}

@media only screen and (max-width: 490px) {
    .focus-picture .card-glass {
        border-radius: 1em;
        left: 12.9em;
        line-height: 1.1em;
        padding: .5em;
    }

    .card-glass p .p-1 {
        font-size: .65rem;
        letter-spacing: 0;
    }
    
    .card-glass p .p-2 {
        font-size: .7rem;
        letter-spacing: 0;
    }
    
    .card-glass p .p-3 {
        font-size: 1.5rem;
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 440px) {
    .focus-picture .card-glass{
        left: 13.9em;
    }

    .card-glass p .p-1 {
        font-size: .6rem;
    }
    
    .card-glass p .p-2 {
        font-size: .7rem;
    }
    
    .card-glass p .p-3 {
        font-size: 1.3rem;
    }

    .focus-picture .twitter-card,
    .focus-picture .instagram-card,
    .focus-picture .whatsapp-card {
        left: 25em;
    }

    .social-logo {
        height: 2.5em;
        width: 2.5em;
    }

    .focus-picture .instagram-card {
        margin-top: 6em;
    }

    .focus-picture .whatsapp-card {
        margin-top: 9em;
    }

    .card-glass-copy {
        right: .3em;
    }
}

@media only screen and (max-width: 405px) {
    .focus-picture .card-glass{
        left: 16.2em;
        margin-top: 10em;
        padding: .3em;
    }

    .focus-picture .twitter-card,
    .focus-picture .instagram-card,
    .focus-picture .whatsapp-card {
        left: 23.5em;
    }

}

@media only screen and (max-width: 330px) {
    .focus-picture .card-glass{
        left: 16.5em;
        margin-top: 10em;
    }

    .card-glass-copy {
        right: .1em;
    }

}

@media only screen and (max-width: 320px) {
    .home-screen {
        min-width: 320px;
    }
    
    .home-glass {
        min-width: 320px;
    }
}

