.container-home{
    display: flex;
    flex-direction: column;
    height: 86%;
}

.home-screen {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100vw;
    z-index: 0;
}

.first-column, .second-column, .third-column {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.first-column { align-items: flex-end; }

.second-column { 
    min-width: 242.02px;
    width: 39rem;
}

.third-column { 
    align-items: flex-start; 
    margin-bottom: 5rem;
}

.first-column .card-glass {
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    border-radius: 1.5rem;
    display: inline-block;
    height: auto;
    line-height: 1.9rem;
    margin-bottom: 5rem;
    padding: 1rem;
    width: auto;
}

.card-glass p {
    height: auto;
    width: auto;
}

.second-column-animated, .third-column-animated {
    height: auto;
    width: auto;
}

.second-column-animated { width: 253px; }

.second-column img {
    height: auto;
    width: auto;
}

.twitter-card {
    border-radius: .7rem;
    height: 3.2rem;
    line-height: 1.5rem;
    z-index: 2;
}

.whatsapp-card {
    border-radius: .7rem;
    height: 3.2rem;
    line-height: 1.5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    z-index: 2;
}

.instagram-card {
    border-radius: .7rem;
    height: 3.2rem;
    line-height: 1.5rem;
    margin-left: 4rem;
    margin-top: 2rem;
    z-index: 2;
}

.twitter-card a,
.instagram-card a,
.whatsapp-card a {
    color: #fff;
    text-decoration: none;
}

.twitter-card p,
.instagram-card p,
.whatsapp-card p { padding-top: .2em; }

.whatsapp-card p { padding-top: .2em; }

.instagram-card p { padding-top: .2em; }

.social-logo {
    border-radius: .7rem;
    height: 3.5rem;
    margin: 0 .7rem 0 0;
    width: 3.5rem;
}

.card-container { display: inline-flex; }

.card-container p span .p-2 { padding-bottom: 5rem; }

.card-glass p span { color: #fff; }

.card-glass p .p-1, 
.twitter-card p .p-1,
.instagram-card p .p-1,
.whatsapp-card p .p-1 {
    font-size: 1.1rem;
    letter-spacing: .1em;
}

.card-glass p .p-2, 
.twitter-card p .p-2,
.instagram-card p .p-2,
.whatsapp-card p .p-2 {
    font-size: 1.5rem;
    letter-spacing: .1em;
}

.card-glass p .p-3, 
.twitter-card p .p-3,
.instagram-card p .p-3,
.whatsapp-card p .p-3 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: .1em;
}

.profile-picture{
    height: 33rem;
    width: 33rem;
}

.card-glass-copy {
    color: #fff;
    font-size: 1.3em;
    height: 5rem;
    margin-right: 2rem;
    padding-right: 2rem;
    text-align: right;
    width: 100%;
    -webkit-text-stroke: .3px black;
} 

.card-glass-copy p{
    height: 100%;
    width: auto;
}

.decoration-link {
    color: #fff;
    letter-spacing: .1em;
    opacity: 0.75;
    text-decoration: none;
}

.decoration-link:hover { opacity: 1; }

.pl-1 { padding-left: .5rem; }

@media only screen and (max-width: 890px) {
    .card-glass p .p-1 { font-size: .85rem; }
    
    .card-glass p .p-2 { font-size: 1.2rem; }
    
    .card-glass p .p-3 { font-size: 1.8rem; }

    .twitter-card p .p-1,
    .instagram-card p .p-1,
    .whatsapp-card p .p-1 { font-size: 1rem; }

    .twitter-card p .p-2,
    .instagram-card p .p-2,
    .whatsapp-card p .p-2 { font-size: 1.1rem; }

    .whatsapp-card p .p-2 { font-size: 1em; }
}

@media only screen and (max-width: 800px) {
    .twitter-card .hidden,
    .instagram-card .hidden,
    .whatsapp-card .hidden { display: none; }
}

@media only screen and (max-width: 710px) {
    .first-column { margin-right: -1.7rem; }

    .card-glass p .p-1 { font-size: .65rem; }
    
    .card-glass p .p-2 { font-size: .9rem; }
    
    .card-glass p .p-3 { font-size: 1.5rem; }

    .third-column-animated { align-items: center;}

    .whatsapp-card, .twitter-card, .instagram-card { margin-left: 3rem; }
}

@media only screen and (max-width: 650px){
    .card-glass p{ line-height: 1.5rem; }

    .card-glass p .p-1 { font-size: .6rem; }
    
    .card-glass p .p-2 { font-size: .7rem; }
    
    .card-glass p .p-3 { font-size: 1.3rem; }
}

@media only screen and (max-width: 600px) {
    .second-column {
        display: flex;
        justify-content: center;
        min-width: 200px;
        width: 200px;
    }

    .second-column-animated { width: 200px; }

    .second-column img {
        height: 255px;
        width: 200px;
    }

    .third-column { margin-left: -1.5rem; }

    .social-logo {
        height: 3em;
        width: 3em;
    }

    .whatsapp-card, .instagram-card { margin-top: 1rem; }

    .card-glass-copy{ padding: 0 2rem 0 3.2rem; }
}

@media only screen and (max-width: 530px) {
    .first-column { 
        margin-bottom: 3.5rem; 
        margin-right: -3rem; 
    }

    .first-column .card-glass { 
        border-radius: .9rem;
        padding: .5rem 1rem; 
    }

    .card-glass p{ line-height: 1.3rem; }

    .card-glass p .p-1 { font-size: .5rem; }
    
    .card-glass p .p-2 { font-size: .6rem; }
    
    .card-glass p .p-3 { font-size: 1rem; }
}

@media only screen and (max-width: 430px) {
    .first-column { margin-right: -4.5rem; }

    .second-column { margin-right: -3rem; }
}

@media only screen and (max-width: 320px) {
    .home-screen { min-width: 320px; }
    
    .home-glass { min-width: 320px; }
} 
/* Card con fondo de otro color del Copyright */
@media only screen and (max-height: 430px) and (min-width: 551px) {
    .card-glass-copy{ 
        align-content: center;
        align-items: center;
        display: flex;
        font-size: 1rem;
        justify-content: center;
        margin-top: -2.2rem; 
        padding: 0 8rem;
        z-index: 100;
    }

    .card-glass-copy p {
        align-items: center;
        background: linear-gradient(152.97deg, rgba(32, 32, 32, 0.602) 0%, rgba(54, 54, 54, 0.466) 100%);
        backdrop-filter: blur(100px);
        border-radius: .5rem;
        display: flex;
        height: 53px;
        justify-content: center;
        margin-top: -1.5rem;
        min-width: 433px;
        padding: 0 .5rem;
        text-align: center;
    }
}

/* Pantalla horizontal con height pequeña pero con el Navbar en la parte superior */
@media only screen and (max-height: 440px) and (min-width: 551px) {
    .second-column {
        display: flex;
        justify-content: center;
        min-width: 200px;
        width: 200px;
    }

    .second-column-animated { width: 200px; }

    .second-column img {
        height: 255px;
        width: 200px;
    }

    .container-home { min-height: 272px; }
}

/* Pantalla horizontal con height pequeña pero con el Navbar en la parte inferior */
@media only screen and (max-height: 440px) and (max-width: 550px) {
    .card-glass-copy{ 
        align-items: center;
        align-content: center;
        display: flex;
        justify-content: center;
        margin-top: -5rem; 
        padding: 0 8rem;
        z-index: 100;
    }

    .card-glass-copy p {
        align-items: center;
        background: linear-gradient(152.97deg, rgba(32, 32, 32, 0.602) 0%, rgba(54, 54, 54, 0.466) 100%);
        backdrop-filter: blur(100px);
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        justify-content: center;
        margin-top: -.5rem;
        min-width: 325px;
        text-align: center;
    }

    .container-home { min-height: 277px; }
}
