* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

body {
  align-items: flex-end;
  background-color: #333;
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
}

::-webkit-scrollbar {
  background: none;
  display: flex;
  height: .6rem;
  width: .35rem;
}

::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 10px;
}
